// Prism code styles
//––––––––––––––––––––––––––––––––––––––––––––––––––
pre {
	padding: 1.6em;

	&[rel] {
		padding: 2.4em 0 0;
	}

	&[rel]::before {
		line-height: 2.4em;
		content: attr(rel);
		color: white;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		background: #999;
		padding: 0;
		text-indent: 1.6em;
	}

	// &[rel="JavaScript"]::before {
	// 	content: "JS";
	// }

	&[rel="CSS"]::before {
		background: #FF9800;
	}

	&[rel="HTML"]::before {
		background: #4CAF50;
	}

	&[rel="jQuery"]::before, 
	&[rel="JavaScript"]::before, 
	&[rel="JSX"]::before {
		background: #9C27B0;
	}

	code {
		background: none;
		padding: 1.6em;
		white-space: pre;
		-webkit-overflow-scrolling: touch;
		display: block;
		overflow: auto;
		color: #c5c8c6;

		&::-webkit-scrollbar {
			width: .5em;
			height: .5em;
		}

		&::-webkit-scrollbar-thumb {
			background: #666;
		}

		&::-webkit-scrollbar-track {
			background: none;
		}
	}
}




// http://chriskempson.github.io/base16/#ocean
$code_color_background: #2b303b;
$code_color_selector: #d08770;
$code_color_attr_value: #a3be8c;
$code_color_tag: #bf616a;

.base00 { color: #2b303b; }
.base01 { color: #343d46; }
.base02 { color: #4f5b66; }
.base03 { color: #65737e; }
.base04 { color: #a7adba; }
.base05 { color: #c0c5ce; }
.base06 { color: #dfe1e8; }
.base07 { color: #eff1f5; }
.base08 { color: #bf616a; }
.base09 { color: #d08770; }
.base0A { color: #ebcb8b; }
.base0B { color: #a3be8c; }
.base0C { color: #96b5b4; }
.base0D { color: #8fa1b3; }
.base0E { color: #b48ead; }
.base0F { color: #ab7967; }


// Color scheme
//––––––––––––––––––––––––––––––––––––––––––––––––––
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: $code_color_background;
}

// Inline code 
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #7C7C7C;
}

.token.punctuation {
	color: #c5c8c6;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.keyword,
.token.tag {
    color: $code_color_tag;
}

.token.class-name {
	color: #FFFFB6;
	text-decoration: underline;
}

.token.boolean,
.token.constant {
    color: #99CC99;
}

.token.symbol,
.token.deleted {
	color: #f92672;
}

.token.number {
	color: #FF73FD;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: $code_color_selector;
}

.token.variable {
	color: #C6C5FE;
}

.token.operator {
    color: #EDEDED;
}

.token.entity {
    color: #FFFFB6;
    // text-decoration: underline;
}

.token.url {
    color: #96CBFE;
}

.language-css .token.string,
.style .token.string {
	color: #87C38A;
}

.token.atrule,
.token.attr-value {
    color: $code_color_attr_value;
}

.token.function {
	color: #DAD085;
}

.token.regex {
    color: #E9C062;
}

.token.important {
	color: #fd971f;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}





