body,
button,
input,
select,
textarea {
	color: $color_text_main;
	font-family: $font__main;
	font-weight: $font_weight_main;
	line-height: $font__line-height-body;
	@include font-size(1);
}

@import "headings";

@import "copy";

@import "prism";
