// LOGIN PAGE STYLES
// Login uses the same variables and mixins for consistency
//––––––––––––––––––––––––––––––––––––––––––––––––––

@import "base/variables";
@import "base/mixins";

// Body class for the login page
.login  {
	background-color: $color_background_hero;
	background: linear-gradient($color_hero_overlay, $color_hero_overlay), url('../../assets/img/heroBI-02.jpg');
	@include bgImage;

	// Container of the login form
	#login { 
		width: 90%; 
		max-width: 320px;
	}

	// Login page logo
	h1 a {
		background-image: url('../../assets/img/logo.png');
		// background-image: none, url('../../assets/img/logo.svg');
		background-position: center top;
		background-repeat: no-repeat;
		background-size: $loginLogoWidth $loginLogoHeight;
		width: $loginLogoWidth;
		height: $loginLogoHeight;
		margin: 0 auto ($column_margin * 1.5);
		padding: 0;
		color: #999;
		font-size: 20px;
		line-height: 1.3em;
		text-indent: -9999px;
		text-decoration: none;
		font-weight: normal;
		overflow: hidden;
		outline: none;
		display: block;
	}

	// Login form
	form {
		padding: $column_margin;
		background: $color_background_body;
		box-shadow: 0 0 $border_radius 0px rgba(0, 0, 0, 0.2);
		border-radius: $border_radius;

		// Login form text areas
		#user_login,
		#user_pass {
			border: 1px solid lighten($button_color_border, 5%);

			&:focus {
				border-color: $brand_primary;
				box-shadow: none;
				outline: 0;
			}
		}
	}

	// Login button
	#wp-submit {
		text-shadow: none;
		box-shadow: none;
		color: $color_white;
		background: $brand_primary;
		border-color: $brand_primary;

		&:focus,
		&:hover {
			color: $color_white;
			background: darken($brand_primary, 10%);
			border-color: darken($brand_primary, 10%);
		}
	}

	// Password reset and home links below form
	#nav,
	#backtoblog {
		a {
			text-decoration: none;
			color: $brand_primary;

			&:hover {
				color: darken($brand_primary, 10%);
			}
		}
	}
}
