// Footer
//––––––––––––––––––––––––––––––––––––––––––––––––––
.site-footer {
    padding: 0;
    font-size: 80%;

    p {
        margin: 0;
    }

    a {
        color: $navbar-font-color; 
        text-decoration: none;

        &:hover,
        &:focus,
        &.active {
            color: lighten($navbar-font-color, 15%); 
        }
    }
}

.footer-callout {
  background-color: #eee;
  border-top: 1px solid #ddd;
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;
  // text-align: center;
  padding: 2rem 0;
  text-align: center;

  @include laptop {
    padding: 4rem 0;
    text-align: left;
  }

  p {
    // font-family: $font-color;
    font-size: 2rem;
    // color: #fff;
    margin-bottom: 1rem;

    @include laptop {
        margin-bottom: 0;
        line-height: 38px;
    }

    // @include laptop {
    //     font-size: 2.8rem;
    // }
  }

  .button {
    margin-bottom: 0;
    // border-color: #fff;
    // color: #fff;

    @include laptop {
        display: block;
    }

    // @include laptop {
    //     padding: 0 70px;
    // }

    // &:hover, 
    // &:focus {
    //   background-color: $trans-white;
    //   border-color: $trans-white;
    //   color: $primary-color;
    // }
  }

  // @include phablet {
  //   padding: 6rem 0;
  // }

  // @include laptop {
  //   padding: (8rem + $menu-height) 0 8rem;
  // }
}

.copyright {
    text-align: center;
    border-top: 1px solid $navbar-border;

    color: $navbar-font-color;
    background-color: $navbar-color;
    padding: ($navbar-height / 3) 0;

    @include laptop {
        text-align: left;
    }
}

.designer {
    @include laptop {
        text-align: right;
    }
}

/*--------------------------------------------------------------
## Footer fix
--------------------------------------------------------------*/
html {
    height: 100%;
}

body {
    min-height: 100%;
}

.site {
    display: flex;
    min-height: 100vh;
    height: 100%;
    flex-direction: column;
}

.site-content {
    flex: 1;
}

