// Scrollup
//––––––––––––––––––––––––––––––––––––––––––––––––––
a.scrollup {
  display: none;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background: $navbar-color;
  border: 1px solid #fff;
  transition: background-color $transistion_duration;
  color: #fff;
  padding: .5rem;
  text-align: center;
  border-radius: 50%;
  text-decoration: none;
  font-size: 1rem;
  // line-height: 2rem;

  &:hover,
  &:focus,
  &:active {
    color: #fff;
    background: darken($navbar-color, 5%);
  }
}

.chevron::before {
  border-style: solid;
  content: '';
  display: block;
  position: relative;
  transform: rotate(-45deg);
  vertical-align: top;
  border-width: $navbar-toggle-bar $navbar-toggle-bar 0 0;
  top: $navbar-toggle-bar / 2;
  height: $navbar-toggle-bar_space * 1.2;
  width: $navbar-toggle-bar_space * 1.2;
  margin: $navbar-toggle-bar_space * 2;
}
