
// scrollup button 


a.scroll-to-top{
	display: block;
	text-align: center;
	text-transform: uppercase;
	box-sizing: border-box;
	position: fixed;
	right: $chevronWidth;
	bottom: $chevronWidth;
	font-size: $chevronWidth;
	line-height: $scrollUpButtonSize * ($squareRoot * 2);
	width: $scrollUpButtonSize * ($squareRoot * 2);
	height: $scrollUpButtonSize * ($squareRoot * 2);
	transition: all $transistion_duration;
	border-radius: 50%; // change to 0 to make the button square
	opacity: 0.5;
	padding: 0;
	cursor: pointer;
	visibility: visible;

	// solid button
	background: $color__link; 
	border: $borderWidth solid rgba(0,0,0,0);
	color: $color_white;

	// button with outline only 
	// background: none; 
	// border: $borderWidth solid $color__link;
	// color: $color__link;

	&:focus {
		outline: none;
	}

	&:hover, 
	&:active {
		opacity: 1;
	}

	&.hide-scroll{
		opacity: 0;
		visibility: hidden;
	}

	&:before {
		display: inline-block;
		box-sizing: border-box;
		border-style: solid;
		border-width: $borderWidth $borderWidth 0 0;
		height: $chevronWidth;
		width: $chevronWidth;
		top: $scrollUpButtonSize;
		// left: 0;
		content: '';
		position: relative;
		transform: rotate(-45deg);
		vertical-align: top;
	}
}

