.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer;
	text-align: center;
	display: inline-block;
	background-color: transparent;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	letter-spacing: .1rem;
	line-height: $font__line-height-forms;
	height: $font__line-height-forms;
	padding: 0 $button_padding;
	font-weight: 300;
	margin-bottom: 1rem;
	@include font-size(.8);
	color: $color_text_button;
	border-radius: $border_radius;
	border: 1px solid $color_border_button;
	transition: $transistion_duration;

	&.lg {
		padding: 0 ($button_padding * 1.2);
		line-height: $font__line-height-forms * 1.2;
		height: $font__line-height-forms * 1.2;
	}

	&:hover {
		color: darken($color_text_button, 10%);
		border-color: darken($color_border_button, 20%);
	}

	&:active,
	&:focus {
		border-color: darken($color_border_button, 40%);
	}

	&.button-primary {
		color: $color_white;
		background-color: $brand_primary;
		border-color: $brand_primary;

		&:hover {
			color: $color_white;
			background: darken($brand_primary, 10%);
			border-color: darken($brand_primary, 10%);
		}

		&:active,
		&:focus {
			color: $color_white;
			background: darken($brand_primary, 20%);
			border-color: darken($brand_primary, 20%);
		}
	}
}

.more-link {
	@extend .button;
	// @extend .button-primary; // uncomment to look like .button-primary

	&:visited {
		color: $color_text_button;
		// color: $color_white; // uncomment to look like .button-primary
	}
}
