@media screen and (min-width: 800px) {
	.content-area {
		float: left;
		margin: 0 (-$size__site-sidebar) 0 0;
		width: $size__site-main;
	}

	.site-main {
		margin: 0 $size__site-sidebar 0 0;
		padding-right: 20px;
	}

	.site-content .widget-area {
		float: right;
		overflow: hidden;
		width: $size__site-sidebar;
	}

	.site-footer {
		clear: both;
		width: $size__site-main;
	}
}


.site-content {
	// wrap for content area
	width: 100%;
	max-width: 960px;
	padding: 0 20px;
	margin: 0 auto;
}

.content-area {
	// this is the full content section of the site
	// including main content area and sidebar
	background-color: rgba(255,0,0,0.2);
}

.site-main {
	background-color: rgba(0,255,0,0.2);
}

.widget-area {
	background-color: rgba(0,0,255,0.2);
}