// footer styles
//––––––––––––––––––––––––––––––––––––––––––––––––––
.site-footer {
	background-color: $color_background_footer;
	width: 100%;
	border-top: 1px solid darken($color_background_footer, 5%);
	padding: ($header_height / 3) 0;

	// @include laptop {
	// 	padding: ($header_height / 2) 0;
	// }
}

.site-info {
	@extend .container; // keeps copyright info lined up with body content
	@include font-size(.9);
}

.copyright {
	display: block;
	text-align: center;

	@include phablet {
		display: inline-block;
		text-align: left;
	}
}

.designer {
	display: block;
	text-align: center;

	@include phablet {
		display: inline-block;
		float: right;
		text-align: right;
	}
}





.footer-callout {
  background-color: $color_background_darkgray;
  padding: 3rem 0;

  @include laptop {
    padding: 5rem 0;
  }

  p {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 1rem;

    @include tablet {
        margin-bottom: 0;
        line-height: 38px;
    }

    @include laptop {
        font-size: 2.8rem;
    }
  }

  .button {
    margin-bottom: 0;
    border-color: #fff;
    color: #fff;

    @include tablet {
        // padding: 0 70px;
        display: block;
    }

    // &:hover, 
    // &:focus {
    //   background-color: $trans-white;
    //   border-color: $trans-white;
    //   color: $brand_primary;
    // }
  }

  // @include phablet {
  //   padding: 6rem 0;
  // }

  // @include laptop {
  //   padding: (8rem + $menu-height) 0 8rem;
  // }
}





// affix footer fix to bottom if content doesn't fill the page
//––––––––––––––––––––––––––––––––––––––––––––––––––
.site {
	display: flex;
	flex-direction: column;
	height: 100vh; // Avoid the IE 10-11 `min-height` bug.
}

// Prevent Chrome, Opera, and Safari from letting these items   
// shrink smaller than their content's default minimum size.
//––––––––––––––––––––––––––––––––––––––––––––––––––
.site-header,
.site-footer {
	flex-shrink: 0; 
}

.site-content-wrap {
	flex: 1 0 auto; 
}
