
// Header styles
// full header with branding, title, description, and nav
//––––––––––––––––––––––––––––––––––––––––––––––––––
.site-header { 
	background-color: $color__background-header;
	border-bottom: 1px solid darken($color__background-header, 5%);
	@include absoluteHeader; // uncomment to set absolute header

	// @include fixedHeader; // uncomment to set fixed header, and also uncomment related fixedHeader mixins below

	// @include laptop {
		// padding: ($column-margin / 2) 0;
	// }
}

.site-navbar {
  position: relative;
  box-sizing: border-box;
  width: $size__site-main;
  max-width: $size__site-main;
  padding: 0 $column-margin;
  margin: 0 auto;

  @include tablet {
    max-width: $width_tablet;
  }

  @include laptop {
    max-width: $width_laptop;
    // padding: 0;
  }

  // @include desktop {
  //   max-width: $width_desktop;
  // }
}

// site title and description
//––––––––––––––––––––––––––––––––––––––––––––––––––
.site-branding { 
	display: inline-block;
}

// site title only
//––––––––––––––––––––––––––––––––––––––––––––––––––
.site-title { 
	// background-color: rgba(0,255,0,0.5);
	// margin: 0 0 0 ($column-margin / 1.5);
	font-size: 20px;
	line-height: $headerHeight;
	font-weight: 300;

	// @include laptop {
	// 	margin-left: 0;
	// }

	a {
		text-decoration: none;
	}
}

// site description only (optional)
//––––––––––––––––––––––––––––––––––––––––––––––––––
// .site-description { 
// 	background-color: rgba(0,0,255,0.5);
// 	margin: 0;
// }









// WP admin bar bix
//––––––––––––––––––––––––––––––––––––––––––––––––––
.site {
	@include wpAdminBodyAdjustment; // Adjust body for admin bar
	// @include fixedHeaderBodyAdjustment; // uncomment to adjust body for fixed header
}

// Offset internal anchor links to keep them on screen
//––––––––––––––––––––––––––––––––––––––––––––––––––,
// #content:before, // maybe remove this later
.scroll-anchor:before { 
	display: block; 
	content: ""; 
	visibility: hidden; 
	@include anchorOffset; // offset internal anchor links, comment out to use fixed header mixin below
	// @include fixedHeaderAnchorOffset; // uncomment to offset internal anchor links with fixed header
}


// Pad the top of the content area below the header/hero
//––––––––––––––––––––––––––––––––––––––––––––––––––
.pad-top,
.content-area,
.widget-area {
	padding-top: $column-margin;

	@include laptop {
		padding-top: $column-margin * 2;
	}
}