
// content right, sidebar left
//––––––––––––––––––––––––––––––––––––––––––––––––––

@include tablet {
	.content-area {
		float: right;
		margin: 0 0 0 (-$size__site-sidebar);
		width: $size__site-main;
	}

	.site-main {
		margin: 0 0 0 $size__site-sidebar;
		padding-left: $column-margin * 2;
	}

	.site-content .widget-area {
		float: left;
		overflow: hidden;
		width: $size__site-sidebar;
	}

	.site-footer {
		clear: both;
		width: $size__site-main;
	}
}



@include desktop {
	.content-area {
		margin: 0 0 0 (-$size__site-sidebar-desktop);
	}

	.site-main {
		margin: 0 0 0 $size__site-sidebar-desktop;
	}

	.site-content .widget-area {
		width: $size__site-sidebar-desktop;
	}
}
