$size__site-main: 100%;
$size__site-sidebar: 28%;


// Responsive breakpoints for mixins found in _functions.scss
$width_mobile: 480px;
$width_phablet: 640px;
$width_tablet: 800px;
$width_laptop: 1000px;
$width_desktop: 1200px;
$width_hdtv: 1600px;
$hidden_mobile: 639px;


// Social media colors
$color_facebook: #365397;
$color_twitter: #00a9f1;
$color_google_plus: #e0452c;
$color_linkedin: #006db3;
$color_skype: #12A5F4;
$color_sharethis: #01BF01;

// Border radius
$border_radius: 3px;





// Scroll-to-top button size
$scrollUpButtonSize: 10px;



// Transition duration for links
$transistion_duration: 0.3s;